
{% extends "base.html" %}

{% block content %}
<section class="features-icons bg-light text-center" style="padding-top: 100px; padding-bottom: 100px;">
  <div class="container">
      <div class="row">
          <h3>Here are the photos inside Blowfish and co S3 bucket:</h3>
          <ul>
            {% for item in contents %}
              <li>
                <!-- <p>{{ item }}</p>
                <a href="/{{ item.Key }}"> {{ item.Key }} </a> -->
                <img src={{ item }} style="width: 250px">
              </li>
            {% endfor %}
          </ul>
      </div>
  </div>
</section>
{% endblock %}
